@media (max-width: 768px) {
    .page-contacts main {
        padding: unset;
    }
}

@media (max-width: 700px) {
    .contacts-card-name-section2.visible {
        bottom: 180px;
    }

    .main-contacts {
        padding: 0;
    }

    .contacts-list {
        margin-left: 0;
        width: 100%;
    }

    .contacts-container {
        padding-bottom: 64px;
        margin-top: 80px;
    }

    .modal-contact-content-add,
    .modal-contact-content-edit {
        transform: translate(-50%, 100%);
        height: unset;
        top: 50%;
        left: 50%;
        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    }

    .modal-contact-content-add.hide,
    .modal-contact-content-edit.hide {
        transform: translate(-50%, 100%);
    }

    .add-contact-left {
        height: unset;
    }

    .contacts-details {
        margin-left: 0;
        width: 100%;
    }

    .contacts-card-name-section-mobile {
        left: unset;
        right: 30px;
        bottom: 110px;
    }

    .contacts-details .contacts-back-button {
        left: unset;
        right: 30px;
    }
}

@media (max-width: 400px) {
    .modal-contact-content-add {
        width: 318px;
    }

    .modal-contact-content-edit {
        width: 318px;
    }


    .add-contact-left {
        width: 318px;
    }

    .add-contact-left h1 {
        font-size: 40px;
        padding-top: 0px;
    }

    .add-contact-left h2 {
        font-size: 16px;
    }

    .add-contact-right {
        width: 318px;
    }

    .add-contact-card {
        width: 318px;
    }

    .edit-contact-card {
        width: 318px;
    }


    .add-card-content {
        flex-direction: column;
        width: 318px;
        justify-content: unset;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: white;
        padding-bottom: 40px;
    }

    .edit-card-content {
        flex-direction: column;
        width: 318px;
        justify-content: unset;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: white;
        padding-bottom: 40px;
    }


    .add-contact-details {
        width: 318px;
        gap: 8px;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        top: -50px;
    }

    .close-modal-contact {
        top: -300px;
        right: 8px;
    }

    .close-modal-edit-contact {
        top: -270px;
        right: 8px;
    }

    .contacts-card-details h2 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .contacts-card {
        top: 180px;
    }
}

@media (max-width: 370px) {
    .contact-info {
        gap: 10px;
        max-width: 300px;
        flex-direction: column;
        align-items: start;
    }

    .contacts-card-initials-circle {
        width: 60px;
        height: 60px;
        font-size: 16px;
        border: 3px solid white;
    }

    .contacts-card-name-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contacts-card-initials h3 {
        font-size: 30px;
    }

    .modal-contact-content-edit.show .contacts-card-initials-circle {
        font-size: 46px;
    }
}