.sidebar {
  background-color: #2a3647;
  color: white;
  width: 232px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.sidebar-logo {
  width: 100px;
  height: 122px;
}

.sidebar-icons {
  width: 30px;
  height: 30px;
}

.sidebar-categories {
  display: flex;
  align-items: center;
  padding: 8px 56px;
}

.sidebar-categories:hover {
  background-color: #2a3d59;
}

.sidebar-categories.active-category {
  background-color: #091931;
}

.sidebar nav {
  width: 100%;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  color: #cdcdcd;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
}

.sidebar footer {
  width: 100%;
  text-align: center;
}

.sidebar footer a {
  color: #aaa;
  font-size: 16px;
  display: block;
  text-decoration: none;
  margin-bottom: 8px;
  padding: 8px;
}

#sidebar-footer a:hover {
  font-weight: bold;
  color: #29abe2;
}

@media (max-width: 700px) {
  .sidebar {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    padding: 0;
  }
  .sidebar-logo {
    display: none;
  }
  #sidebar-footer {
    display: none;
  }
  .sidebar-categories{
    justify-content: center;
    border-radius: 16px;
    padding: 0;
    width: 76px;
    height: 100%;
  }
  .sidebar nav ul li{
    margin: 0;
    display: flex;
    height: 100%;
  }
  .sidebar nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
  }
  .sidebar nav ul{
    display: flex;
    height: 100%;
    gap: 15px;
  }
  .sidebar nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 4px;
    padding: 0;
    font-size: 14px;
  }
  .sidebar-icons{
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 420px) {
  .sidebar nav ul {
    gap: 0;
}
}