body {
  margin: 0;
  font-family: inter;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: inter;
  src: url(../assets/fonts/inter.ttf);
}
html,
body {
  height: 100%;
}

.join_image {
  position: absolute;
  height: 77px;
  width: 73px;
  top: 80px;
  left: 77px;
}

.arrow-img {
  position: absolute;
  top: 85px;
  left: 55px;
  transform: translateY(-50%);
}

.signup_div {
  position: relative;
  margin-top: 78px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 598px;
  height: 505px;
  padding: 48px 88px 57px 88px;
  gap: 32px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup_titel {
  width: 315px;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 141px;
}

h1 {
  margin: 0px;
  font-weight: 700px;
  font-size: 61px;
  text-align: center;
}

.separator {
  width: 150px;
  border: 3px solid rgba(41, 171, 226, 1);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputfields_div {
  width: 422px;
  height: 326px;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.input-wrapper .icon img {
  height: 16px;
  width: 20px;
  object-fit: contain;
}

.lock-icon:hover {
  cursor: pointer;
}

.input1 {
  font-size: 20px;
  font-weight: 400;
  width: 380px;
  height: 24px;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding: 12px 21px 12px 21px;
  display: flex;
  justify-content: space-between;
}

.input2 {
  font-size: 20px;
  font-weight: 400;
  width: 380px;
  height: 24px;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding: 12px 21px 12px 21px;
  display: flex;
  justify-content: space-between;
}

.input3 {
  font-size: 20px;
  font-weight: 400;
  width: 380px;
  height: 24px;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding: 12px 21px 12px 21px;
  display: flex;
  justify-content: space-between;
}

.input4 {
  font-size: 20px;
  font-weight: 400;
  width: 380px;
  height: 24px;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding: 12px 21px 12px 21px;
  display: flex;
  justify-content: space-between;
}

.blue_button1 {
  font-weight: 700px;
  font-size: 21px;
  background-color: #2a3647;
  width: 108px;
  height: 49px;
  padding: 15px 16px 15px 16px;
  gap: 10px;
  border-radius: 8px;
  color: white;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox_div {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 8px;
}

.checkbox {
  display: none;
}

.checkbox-label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(42, 54, 71, 1);
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.checkbox:checked + .checkbox-label {
  background-color: rgb(255, 255, 255);
}

.checkbox:checked + .checkbox-label::after {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 2px;
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.arrow-img:hover {
  cursor: pointer;
  background-color: rgba(209, 209, 209, 1);
  border-radius: 50%;
}

.dataprotection_div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400px;
  font-size: 16px;
  gap: 32px;
  margin-top: 90px;
}

.checkbox_input:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  font-size: 16px;
  font-weight: 400px;
  text-decoration: none;
  color: rgba(168, 168, 168, 1);
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: rgb(41, 171, 226);
}

.checkbox_input {
  color: rgb(41, 171, 226);
  text-decoration: none;
}

.blue_button1:hover {
  cursor: pointer;
  background-color: rgb(41, 171, 226);
  border-color: rgb(41, 171, 226);
}

.input1:focus,
.input2:focus,
.input3:focus,
.input4:focus {
  border: 2px solid rgb(41, 171, 226);
  outline: none;
}

.input1:not(:focus),
.input2:not(:focus),
.input3:not(:focus),
.input4:not(:focus) {
  border: 1px solid black;
}

.popup {
  display: none;
  position: fixed;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a3647;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: inter;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.popup.show {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
